footer {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: flex-start; /* Aligns text to the left */
    align-items: center; /* Centers vertically */
    background-color: #1C1C1E; /* Dark background */
    height: 100px; /* Adjusted footer height */
    color: white; /* Text color */
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Match typography */
    padding: 0 70px; /* Padding on left and right */
    font-size: 30px; /* Match Figma */
}
