.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1E;
    padding: 0 70px;
    height: 70px;
}

.logo img {
    height: 40px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.logo h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 20px;
    padding: 8px 15px;
    max-width: 250px;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    padding-left: 8px;
    color: #333;
}

.search-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: -30px;
}

.search-bar .search-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.mobile-header {
    display: none;
}

@media screen and (max-width: 768px) {
    .site-header {
        display: none;
    }

    .mobile-header {
        display: block;
        background-color: #1C1C1E;
        padding: 1rem;
      }
    
      .mobile-topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .mobile-header .logo img {
        height: 40px;
      }
    
      .burger {
        cursor: pointer;
        background: linear-gradient(45deg, #FF7F50, #FF3155, #FC53FF);
        padding: 8px;
        border-radius: 4px;
      }
    
      .burger img {
        width: 24px;
        height: 24px;
        display: block;
      }
    
      #mobile-nav-links {
        display: none;
        flex-direction: column;
        background-color: #1C1C1E;
        padding: 1rem;
        margin-top: 1rem;
        border: 2px solid #FC53FF;
        border-radius: 12px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px rgba(252, 83, 255, 0.3);
      }
    
      #mobile-nav-links.active {
        display: flex;
      }
    
      #mobile-nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
      }
    
      #mobile-nav-links li {
        margin: 8px 0;
        padding: 10px 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    
      #mobile-nav-links a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #EAEAEA;
        text-decoration: none;
        transition: color 0.3s;
      }
    
      #mobile-nav-links a:hover {
        color: #FF53FF;
      }
}
  


