@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #242424;
}

main {
    text-align: center;
}

.page-wrapper {
    min-height: 100vh;
}

.info-grey {
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 768px;
}

.info-black {
    /* border: solid 2px white; */
    background-color: #1C1C1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 768px;
}

.inside-info {
    /* border: solid 2px white; */
    height: 705.33px;
    width: 1222.33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-info-two {
    /* border: solid 2px white; */
    height: 705.33px;
    width: 1222.33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.right-side {
    /* border: solid 2px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.left-side-two {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%
}

.right-side-two {
    /* border: solid 2px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%
}

.right-side-img {
    /* border: solid 2px blue; */
    width: 635px;
}

.ultimate {
    /* border: solid 2px white; */
    text-align: left;
    font-size: 32px;
}

.ult-desc-wrapper {
    /* border: solid 2px blue; */
    width: 100%;
}

.ultimate-desc {
    /* border: solid 2px white; */
    text-align: left;
}

.del-desc {
    /* border: solid 2px white; */
    text-align: center;
    width: 340px;
    font-size: 16px;
    font-weight: normal;
}

.fast-desc {
    /* border: solid 2px white; */
    text-align: center;
    width: 340px;
    font-size: 16px;
    font-weight: normal;
}

.explore-button {
    background: linear-gradient(45deg, #FF7F50, #FF3155, #FC53FF);
    width: 370px;
    height: 77px;
    border-radius: 28px;
    font-size: 32px;
    border: none; 
    cursor: pointer;
}

.delic {
    font-size: 24;
}

.size {
    font-size: 24;
}

.take-away-img {
    /* border: solid 2px white; */
    height: 320px;
}

.fast-loading-img {
    /* border: solid 2px white; */
    height: 300px;
}
