<header class="site-header">
    <div class="logo">
        <img src="/assets/fonts/Sinéfolis.png" alt="Sinéfolis">
    </div>
</header>

<!-- NAV SAAT MOBILE -->
<header class="mobile-header">
    <div class="mobile-topbar">
        <div class="logo">
        <img src="/assets/fonts/Sinéfolis.png" alt="Sinéfolis">
        </div>
        <div class="burger" onclick="toggleMenu()">
        <img id="burger-icon" src="/assets/icons/burger.svg" alt="Menu">
        </div>
    </div>

    <nav id="mobile-nav-links">
        <ul>
        <li><a href="/pages/landing.html">Home</a></li>
        <li><a href="/pages/now-showing.html">Now Showing</a></li>
        <li><a href="/pages/cinema.html">Cinema</a></li>
        <li><a href="/pages/promo.html">Promo</a></li>
        <li><a href="/pages/feedback.html">Feedback</a></li>
        </ul>
    </nav>
</header>
  